<launch>
    <arg name="output" default="screen"/>
    <arg name="fixed_frame" default="world"/>
    <arg name="altimeter" default="altimeter"/>
    <arg name="pressure"/>

    <node name="pressure_altimeter" pkg="pressure_altimeter"
        type="pressure_altimeter" output="$(arg output)" ns="$(arg altimeter)">
        <param name="fixed_frame" type="string" value="$(arg fixed_frame)"/>
        <remap from="~pressure" to="$(arg pressure)"/>
    </node>
</launch>    
