<launch>
    <!--These transformations are acquired by kalibr and verified by cad drawings-->
    <!--static_transform_publisher x y z qx qy qz qw frame_id child_frame_id-->

    <!-- If true, broadcast vicon frame -->
    <arg name="vicon" default="false"/>

    <!--imu_stereo_left-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="imu_stereo_broadcaster"
        args="0.004305 0.044038 0.032479 0 0 0 1 imu stereo">
    </node>

    <!--stereo_left_color-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="stereo_color_broadcaster"
        args="-0.042979 -0.001128 0.002047 0 0 0 1 stereo color">
    </node>

    <!--stereo_left_thermal-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="stereo_thermal_broadcaster"
        args="-0.133046 -0.000133 -0.01294 0 0 0 1 stereo thermal">
    </node>

    <!--imu_laser-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="imu_laser_broadcaster"
        args="0.07915 0.04241 0.03277 0.707107 0 0.707107 0 imu laser">
    </node>

    <!--stereo_spectral_670-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="stereo_spectral_670_broadcaster"
        args="0 0.04241 0 0 0 0 1 stereo spectral_670">
    </node>

    <!--stereo_spectral_800-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="stereo_spectral_800_broadcaster"
        args="-0.04241 0.04241 0 0 0 0 1 stereo spectral_800">
    </node>

    <!-- vicon/world identity transform -->
    <group if="$(arg vicon)">
      <node pkg="tf2_ros" type="static_transform_publisher"
          name="world_vicon_broadcaster"
          args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 /vicon world">
      </node>
      <node pkg="tf2_ros" type="static_transform_publisher"
          name="imu_vicon_broadcaster"
          args="0.0 0.0 0.0 0.5 -0.5 0.5 0.5 imu vicon">
      </node>
    </group>
</launch>
