<!--
  Name: bluefox2_stereo.launch
  Triggers:
    * bluefox2 (2x)

  Brief: Launch the Matrix-Vision bluefox2 MLC usb camera in a
    stereo setup. The two cameras are expected to be
    master: right - grayscale - 752 x 480
    slave:  left  - grayscale - 752 x 480

  Topics you should record:
    * /mv_stereo/left/image_raw
    * /mv_stereo/left/camera_ino
    * /mv_stereo/right/image_raw
    * /mv_stereo/right/camera_info
-->

<launch>
    <arg name="left" default="25000855"/>
    <arg name="right" default="25001110"/>
    <include file="$(find bluefox2)/launch/stereo_node.launch">
        <arg name="left" value="$(arg left)"/>
        <arg name="right" value="$(arg right)"/>
        <arg name="aec" value="2"/>
        <arg name="fps" value="25"/>
        <arg name="hdr" value="true"/>
        <arg name="ctm" value="1"/>
    </include>
</launch>
