<!--
  Name: color.launch
  Triggers:
    * flea3 (1x)

  Brief: Launch one Point-Grey flea3 usb3 camera.

  Topics you should record:
    * /color/camera_info
    * /color/image_raw
    * /color/image_metadata
-->

<launch>
  <!--Camera Settings-->
  <arg name="device" value="$(env GALT_COLOR_SERIAL)"/>
  <arg name="rate" value="$(env GALT_COLOR_RATE)"/>

  <include file="$(find flea3)/launch/single_node.launch">
    <arg name="device" value="$(arg device)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="camera" value="$(env GALT_COLOR_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/pg_$(arg device).yaml"/>
    <arg name="fps" default="$(arg rate)"/>

    <arg name="video_mode" default="23"/>
    <arg name="exposure" default="false"/>
    <arg name="auto_exposure" default="false"/>
    <arg name="auto_shutter" default="false"/>
    <arg name="shutter_ms" default="2"/>
    <arg name="auto_gain" default="false"/>
    <arg name="gain_db" default="10.0"/>
    <arg name="white_balance" default="false"/>
    <arg name="auto_white_balance" default="false"/>
  </include>
</launch>
