<!--
  Name: gps.launch
  Triggers:
    * ublox_gps

  Brief: Launch the ublox gps in 'ublox_gps' namespace. Device resides at
  /dev/ttyUSB0. Ublox node itself fixes data rate at 5Hz.

  Topics you should record:
    * /gps/fix
    * /gps/fix_velocity
    * /gps/navposllh
    * /gps/navstatus
    * /gps/navvelned
-->

<launch>
    <arg name="output" default="log"/>

    <include file="$(find ublox_gps)/launch/ublox_gps.launch">
        <arg name="device" value="/dev/serial/by-id/$(env GALT_GPS_SERIAL)"/>
        <arg name="frame_id" value="$(env GALT_GPS_FRAME)"/>
        <arg name="output" value="$(arg output)"/>
        <arg name="baudrate" value="57600"/>
        <arg name="meas_rate" value="200"/>
        <arg name="dynamic_model" value="airborne1"/>
        <arg name="fix_mode" value="both"/>
        <arg name="dr_limit" value="0"/>
    </include>
</launch>
