<!--
  Name: hokyyo_eth.launch
  Triggers:
    * urg_node

  Brief: Launch the hokuyo LiDAR in serial configuration..

  Topics you should record:
    * /hokuyo/scan
-->
<launch>
    <arg name="serial" default="/dev/ttyACM0"/>
    <arg name="laser" default="hokuyo"/>
    <arg name="output" default="screen"/>
    <arg name="calibrate_time" default="true"/>

    <node name="urg_node" pkg="urg_node" type="urg_node" respawn="true"
        output="$(arg output)" ns="$(arg laser)">
        <param name="serial_port" type="string" value="$(arg serial)"/>
        <param name="calibrate_time" type="bool" value="$(arg calibrate_time)"/>
    </node>
</launch>
