<!--
  Name: imu.launch
  Triggers:
    * imu_3dm_gx4

  Brief: Launch the 3DM-GX4 IMU with the name 'imu'. The device is expected
  to reside at /dev/ttyACM0. Data rate is set to 200Hz.

  Topics you should record:
    * /imu/imu
    * /imu/magnetic_field
    * /imu/pressure
-->

<launch>
    <include file="$(find imu_3dm_gx4)/launch/imu.launch">
        <arg name="device" value="/dev/serial/by-id/$(env GALT_IMU_SERIAL)"/>
        <arg name="imu_rate" value="$(env GALT_IMU_RATE)"/>
        <arg name="imu" value="$(env GALT_IMU_FRAME)"/>
        <arg name="output" value="screen"/>
        <arg name="baudrate" value="921600"/>
        <arg name="enable_filter" value="false"/>
    </include>
</launch>
