<!--
  Name: multi_spectral.launch
  Triggers:
    * bluefox2 (2x)

  Brief: Launch two Matrix-Vision bluefox2 MLC usb cameras.

  Topics you should record:
    * /spectral_670/camera_info
    * /spectral_670/image_raw
    * /spectral_690/camera_info
    * /spectral_690/image_raw
    * /spectral_530/camera_info
    * /spectral_530/image_raw
    * /spectral_570/camera_info
    * /spectral_570/image_raw
    * /spectral_700/camera_info
    * /spectral_700/image_raw
    * /spectral_800/camera_info
    * /spectral_800/image_raw
-->
<launch>
  <!--Camera Settings-->
  <arg name="ctm" default="0"/>
  <arg name="aec" default="2"/>
  <arg name="jpeg_quality" default="50"/>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_670_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_670_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_670_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_690_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_690_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_690_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_530_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_530_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_530_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_570_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_570_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_570_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_700_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_700_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_700_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="device" value="$(env GALT_SPECTRAL_800_SERIAL)"/>
    <arg name="rate" value="$(env GALT_SPECTRAL_RATE)"/>
    <arg name="camera" value="$(env GALT_SPECTRAL_800_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/mv_$(env GALT_SPECTRAL_800_SERIAL).yaml"/>
    <arg name="aec" value="$(arg aec)"/>
    <arg name="ctm" value="$(arg ctm)"/>
    <arg name="jpeg_quality" value="$(arg jpeg_quality)"/>
  </include>
</launch>
