<launch>
    <node pkg="rosbag" type="record" name="recorder" output="screen"
        args="
        /mv_29900189/camera_info
        /mv_29900189/image_raw
        /mv_30000334/camera_info
        /mv_30000334/image_raw
        /mv_30000337/camera_info
        /mv_30000337/image_raw
        /mv_stereo/left/image_raw
        /mv_stereo/left/camera_info
        /mv_stereo/right/image_raw
        /mv_stereo/right/camera_info
        /flir_gige/image_raw
        /flir_gige/camera_info
        /flir_gige/spot
        /hokuyo/scan
        /imu/imu
        /imu/magnetic_field
        /imu/pressure
        /spectrometer/spectrum
        /ublox_gps/fix
        /ublox_gps/fix_velocity
        /ublox_gps/navposllh
        /ublox_gps/navstatus
        /ublox_gps/navvelned"/>
</launch>
