<launch>
    <node pkg="rosbag" type="record" name="recorder" output="screen"
        args="
        /color/camera_info
        /color/image_raw
        /spectral_670/camera_info
        /spectral_670/image_raw
        /spectral_800/camera_info
        /spectral_800/image_raw
        /stereo/left/image_raw
        /stereo/left/camera_info
        /stereo/right/image_raw
        /stereo/right/camera_info
        /thermal/image_raw
        /thermal/camera_info
        /thermal/spot
        /laser/scan
        /imu/imu
        /imu/magnetic_field
        /imu/pressure
        /spectrometer/spectrum
        /gps/fix
        /gps/fix_velocity
        /gps/navposllh
        /gps/navstatus
        /gps/navvelned"/>
</launch>
