<!--
  Name: stereo_pg.launch
  Triggers:
    * flea3 (2x)

  Brief: Launch the Point Grey Flea3 usb3 camera in a
    stereo setup. The two cameras are expected to be two color
    camera with 1280 x 960 resolution, and they should be software
    synchronized.

  Topics you should record:
    * /stereo/left/image_raw
    * /stereo/left/camera_ino
    * /stereo/right/image_raw
    * /stereo/right/camera_info
-->

<launch>
  <arg name="left" default="$(env GALT_STEREO_LEFT)"/>
  <arg name="right" value="$(env GALT_STEREO_RIGHT)"/>

  <include file="$(find flea3)/launch/stereo_node.launch">
    <arg name="left" default="$(arg left)"/>
    <arg name="right" default="$(arg right)"/>
    <arg name="rate" value="$(env GALT_STEREO_RATE)"/>
    <arg name="camera" value="$(env GALT_STEREO_FRAME)"/>
    <arg name="left_calib_url" default="$(env GALT_CAMERA_CALIB_DIR)/mv_$(arg left).yaml"/>
    <arg name="right_calib_url" default="$(env GALT_CAMERA_CALIB_DIR)/mv_$(arg right).yaml"/>
    <arg name="video_mode" default="16"/>
    <arg name="enable_trigger" default="true"/>
    <arg name="auto_exposure" default="false"/>
    <arg name="auto_shutter" default="false"/>
    <arg name="auto_gain" default="false"/>
    <arg name="auto_white_balance" default="true"/>
  </include>
</launch>
