<!--
  Name: stereo.launch
  Triggers:
    * bluefox2 (2x)

  Brief: Launch the Matrix-Vision bluefox2 MLC usb camera in a
    stereo setup. The two cameras are expected to be two grayscale
    camera with 752 x 480 resolution, and they should be software
    synchronized.

  Topics you should record:
    * /stereo/left/image_raw
    * /stereo/left/camera_ino
    * /stereo/right/image_raw
    * /stereo/right/camera_info
-->

<launch>
    <arg name="left" default="$(env GALT_STEREO_LEFT)"/>
    <arg name="right" value="$(env GALT_STEREO_RIGHT)"/>

    <include file="$(find bluefox2)/launch/stereo_node.launch">
        <arg name="left" default="$(arg left)"/>
        <arg name="right" default="$(arg right)"/>
        <arg name="rate" value="$(env GALT_STEREO_RATE)"/>
        <arg name="camera" value="$(env GALT_STEREO_FRAME)"/>
        <arg name="left_calib_url" default="$(env GALT_CAMERA_CALIB_DIR)/calib_$(arg left).yml"/>
        <arg name="right_calib_url" default="$(env GALT_CAMERA_CALIB_DIR)/calib_$(arg right).yml"/>
        <arg name="expose_us" default="5000"/>
        <arg name="aec" default="3"/>
        <arg name="hdr" default="true"/>
        <arg name="ctm" default="1"/>
    </include>
</launch>
