<!--
  Name: ublox.launch
  Triggers:
    * ublox_gps

  Brief: Launch the ublox gps in 'ublox_gps' namespace. Device resides at
  /dev/ttyUSB0. Ublox node itself fixes data rate at 5Hz.

  Topics you should record:
    * /ublox_gps/fix
    * /ublox_gps/fix_velocity
    * /ublox_gps/navposllh
    * /ublox_gps/navstatus
    * /ublox_gps/navvelned
-->

<launch>
    <arg name="output" default="log"/>
    <arg name="serial_id"
        default="usb-u-blox_AG_-_www.u-blox.com_u-blox_7_-_GPS_GNSS_Receiver-if00"/>

    <include file="$(find ublox_gps)/launch/ublox_gps.launch">
        <arg name="output" value="$(arg output)"/>
        <arg name="device" value="/dev/serial/by-id/$(arg serial_id)"/>
        <arg name="frame_id" value="gps"/>
        <arg name="baudrate" value="57600"/>
        <arg name="meas_rate" value="200"/>
        <arg name="dynamic_model" value="airborne1"/>
        <arg name="fix_mode" value="both"/>
        <arg name="dr_limit" value="0"/>
    </include>
</launch>
