<launch>
    <arg name="rviz" default="true"/>
    <node pkg="rosbag" type="play" name="player" output="log"
        args="/media/chao/Seagate/bag/day2/walk/2014-07-25-22-53-42.bag">
    </node>

    <include file="$(find gps_kf)/launch/gps_kf.launch">
    </include>

    <node if="$(arg rviz)"
      name="rviz" pkg="rviz" type="rviz"
      args="--display-config $(find thermal_map)/rviz/config.rviz">
    </node>
</launch>
