<launch>
  <!-- Arguments to launch file -->
  <arg name="camera_id" default="25000855" />
  <arg name="calibration_file" default="$(arg camera_id).yml" />

  <node pkg="bluefox2" type="bluefox2" name="camera" output="screen" >
    <param name="fps" type="double" value="30.0" />
    <param name="gain" type="double" value="0.0" />
    <param name="exposure_time_us" type="int" value="10000" />
    <param name="use_auto_exposure" type="bool" value="true" />
    <param name="use_color" type="bool" value="false" />
    <param name="use_binning" type="bool" value="false" />
    <param name="use_split_image" type="bool" value="false" />
    <param name="use_stereo" type="bool" value="false" />
    <param name="serial_left"  type="string" value="$(arg camera_id)" />
    <param name="calibration_file" type="string" value="$(find bluefox2)/config/$(arg calibration_file)" />
  </node>

</launch>
