<launch>
    <!-- Specify camera options -->
    <arg name="left" default="25000855" />
    <arg name="lmode" default="standalone" />
    <arg name="lnode" value="cam$(arg left)" />

    <arg name="right" default="25000495" />
    <arg name="rmode" default="standalone" />
    <arg name="rnode" value="cam$(arg right)" />

    <!-- Use lower fps for calibration -->
    <arg name="fps" value="5.0" />
    <arg name="size" default="8x6" />
    <arg name="square" default="0.025" />

    <!-- Launch two cameras here -->
    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg left)" />
        <arg name="mode" value="$(arg lmode)" />
        <arg name="fps" value="$(arg fps)" />
    </include>

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg right)" />
        <arg name="mode" value="$(arg rmode)" />
        <arg name="fps" value="$(arg fps)" />
    </include>

    <!-- We use the convention 1 - left, 2 - right -->
    <node pkg="bluefox2" type="stereo_sync" name="stereo_sync" output="screen">
        <remap from="~image1" to="/$(arg lnode)/image_raw"/>
        <remap from="~cinfo1" to="/$(arg lnode)/camera_info"/>
        <remap from="~image2" to="/$(arg rnode)/image_raw"/>
        <remap from="~cinfo2" to="/$(arg rnode)/camera_info"/>
    </node>

    <!-- Launch camera calibration here -->
    <node pkg="camera_calibration" name="cameracalibrator" type="cameracalibrator.py"
        args="--size $(arg size) --square $(arg square) --no-service-check" >
        <remap from="left" to="/stereo_sync/left/image" />
        <remap from="left_camera" to="/stereo_sync/left"/>
        <remap from="right" to="/stereo_sync/right/image" />
        <remap from="right_camera" to="/stereo_sync/right" />
    </node>
</launch>
