<launch>
    <arg name="left" default="25000855" />
    <arg name="right" default="25000495" />

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg left)" />
        <arg name="mode" value="standalone" />
    </include>

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg right)" />
        <arg name="mode" value="standalone" />
    </include>
</launch>
