<launch>
  <!-- Camera -->
  <node pkg="bluefox2" type="bluefox2" name="camera" output="screen" >
    <param name="fps" type="double" value="5.0" />
    <param name="gain" type="double" value="0.0" />
    <param name="exposure_time_us" type="int" value="20000" />
    <param name="use_auto_exposure" type="bool" value="true" />
    <param name="use_color" type="bool" value="true" />
    <param name="use_hdr" type="bool" value="true" />
    <param name="has_hdr" type="bool" value="false" />
    <param name="use_inverted" type="bool" value="false" />
    <param name="use_binning" type="bool" value="false" />
    <param name="use_split_image" type="bool" value="false" />
    <param name="use_stereo" type="bool" value="true" />
    <param name="serial_left"  type="string" value="29900114" />
    <param name="serial_right"  type="string" value="29900142" />
  </node>
</launch>
