<launch>
    <arg name="cam1" default="29900189"/>
    <arg name="mode1" default="standalone"/>

    <arg name="cam2" default="30000313"/>
    <arg name="mode2" default="standalone"/>

    <arg name="cam3" default="29900130"/>
    <arg name="mode3" default="standalone"/>

    <arg name="fps" default="10.0"/>
    <arg name="wbp" default="none"/>

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg cam1)"/>
        <arg name="mode" value="$(arg mode1)"/>
        <arg name="fps" value="$(arg fps)"/>
        <arg name="color" value="true"/>
        <arg name="wbp" value="$(arg wbp)"/>
    </include>

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg cam2)"/>
        <arg name="fps" value="$(arg fps)"/>
        <arg name="mode" value="$(arg mode2)"/>
    </include>

    <include file="$(find bluefox2)/launch/mono.launch">
        <arg name="serial" value="$(arg cam3)"/>
        <arg name="mode" value="$(arg mode3)"/>
        <arg name="fps" value="$(arg fps)"/>
        <arg name="color" value="true"/>
        <arg name="wbp" value="$(arg wbp)"/>
    </include>

</launch>
