
    <!--imu_laser-->
    <node pkg="tf" type="static_transform_publisher" name="imu_laser_br"
        args="0.025 0.06 -0.02 0 0 0 0 imu laser 1000">
    </node>

    <!--imu_stereo_left-->
    <node pkg="tf" type="static_transform_publisher" name="imu_stereo_left_br"
        args="-0.1 0.05 0 0 0 0 0 imu stereo_left">
    </node>
