<launch>
    <arg name="frame" default="imu"/>
    <arg name="topic" default="gps_kf/odometry"/>

    <!--iris_tf-->
    <node pkg="iris_tf" type="iris_tf_node" name="iris_tf" output="screen">
        <param name="frame" type="string" value="$(arg frame)"/>
        <remap from="~topic" to="$(arg topic)"/>
    </node>

    <!--imu_laser-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="imu_laser_broadcaster"
        args="0.025 0.06 -0.02 -0.5 -0.5 0.5 -0.5 imu laser">
    </node>

    <!--imu_thermal-->
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="imu_thermal_broadcaster"
        args="0.13 0.06 -0.02 0.7071068 0.7071068 0 0 imu thermal">
    </node>

    <!--imu_stereo_left-->
</launch>
