<launch>
    <arg name="rviz" default="true"/>
    <arg name="frame" default="imu"/>
    <arg name="topic" default="gps_kf/odometry"/>

    <!--rosbag-->
    <node pkg="rosbag" type="play" name="player" output="log"
        args="/media/chao/Seagate/bag/day2/walk/2014-07-25-22-53-42.bag">
    </node>

    <!--gps_kf-->
    <include file="$(find gps_kf)/launch/gps_kf.launch">
    </include>

    <!--iris_tf-->
    <node pkg="iris_tf" type="iris_tf_node" name="iris_tf" output="screen">
        <param name="frame" type="string" value="$(arg frame)"/>
        <remap from="~topic" to="$(arg topic)"/>
    </node>

    <!--rviz-->
    <node if="$(arg rviz)"
        name="rviz" pkg="rviz" type="rviz"
        args="--display-config $(find iris_tf)/rviz/config.rviz">
    </node>
</launch>
