#!/usr/bin/env python
PACKAGE = "stereo_vo"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("cell_size", int_t, 0, "Size of each cell for feature detection", 50, 40, 80)
# GoodFeaturesToTrack options
gen.add("shi_max_corners", int_t, 0, "Number of features to detect in each cell", 1, 1, 3)
gen.add("shi_quality_level", double_t, 0, "Minimal accepted quality of image corners", 0.05, 0.001, 0.1)

# KLT options
gen.add("klt_max_level", int_t, 0, "0-based maximal pyramid level number", 3, 1, 5)
gen.add("klt_win_size", int_t, 0, "Size of the search window at each pyramid level", 13, 3, 21)

# Optimization options
gen.add("kf_size", int_t, 0, "Size of the optimization window", 4, 3, 8)
gen.add("kf_dist", double_t, 0, "Distance moved to add a keyframe", 1.5, 0.5, 5)
gen.add("kf_min_filled", double_t, 0, "Percentaged of minimum filled cells to add a keyframe", 0.7, 0.1, 0.9)

# PNP Ransac Options
gen.add("pnp_ransac_inliers", double_t, 0, "Ratio of inliers required", 0.7, 0.5, 1)
gen.add("pnp_ransac_error", double_t, 0, "Reprojection error threshold", 4.0, 1.0, 10.0)

# Keyframe options
gen.add("keyframe_dist_thresh", double_t, 0, "Keyframe distance threshold", 0.25, 0.1, 50)

# Triangulation options
gen.add("tri_max_eigenratio", double_t, 0, "Max eigenvalue ratio in triangulation", 1.0e5, 1.0e4, 1.0e6)

exit(gen.generate(PACKAGE, "stereo_vo", "StereoVoDyn"))
