<!--
  Name: kr_attitude_eskf_calib.launch
  Author: Gareth
  Triggers:
    * imu_3dm_gx4
    * kr_attitude_eskf

  Brief: Launches the attitude filter and microstrain IMU. This node is for
  calibration only and does not need to be recorded.
-->

<launch>
  <!-- Start IMU -->
  <include file="$(find galt_setup)/launch/imu_3dm_gx4.launch">
    <arg name="serial_id"
    default="usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6234.38162-if00"/>
  </include>

  <!-- Start IMU covariance -->
  <node pkg="imu_covariance" name="imu_covariance" type="imu_covariance"
    output="screen">
    <!-- Load settings from our profile -->
    <param name="config_path"
      type="string"
      value="$(find galt_setup)/profiles/debug/imu.yml"/>

    <!-- Inputs from recorded IMU -->
    <remap from="~imu_in" to="/imu/imu"/>
    <remap from="~magnetic_field_in" to="/imu/magnetic_field"/>
    <remap from="~pressure_in" to="/imu/pressure"/>
  </node>

  <!-- Launch filter -->
  <node pkg="kr_attitude_eskf" name="attitude_eskf" type="kr_attitude_eskf"
    output="screen">
    <param name="enable_magnetometer" type="bool" value="true"/>

    <remap from="~imu" to="/imu_covariance/imu"/>
    <remap from="~magnetic_field" to="/imu_covariance/magnetic_field"/>

    <rosparam
      file="$(find galt_setup)/calib/magnetometer/philadelphia_generic.yml"/>
  </node>
</launch>
