<launch>
    <arg name="test" default="true"/>

    <arg name="square"/>
    <arg name="size"/>
    <arg name="pattern"/>
    <arg name="camera" default="/flir_gige"/>
    <arg name="image" default="$(arg camera)/image_raw"/>

    <include
        unless="$(arg test)"
        file="$(find flir_gige)/launch/node.launch">
    </include>

    <node pkg="camera_calibration" type="cameracalibrator.py" name="calibrator"
        args="-p $(arg pattern) -s $(arg size) -q $(arg square)
        image:=$(arg image) camera:=$(arg camera)" output="screen">
    </node>

</launch>
