<launch>
    <arg name="test" default="true"/>
    <arg name="bag" default="test"/>
    <arg name="image" default="/flir_gige/image_raw"/>

    <node if="$(arg test)" pkg="rosbag" type="play" name="player"
        args="$(find flir_gige)/bag/$(arg bag).bag" output="log">
    </node>

    <include unless="$(arg test)" file="$(find flir_gige)/launch/node.launch">
    </include>

    <node pkg="flir_gige" type="flir_calibrator_node" name="flir_calibrator"
        output="screen">
        <remap from="~image_raw" to="$(arg image)"/>
        <param name="depth" type="double" value="0.95"/>
    </node>
</launch>
