<launch>
    <arg name="ip_address" default=""/>
    <arg name="frame_id" default="flir"/>
    <arg name="fps" default="20.0"/>
    <arg name="height" default="320"/>
    <arg name="width" default="256"/>

    <node pkg="flir_gige" type="flir_gige_node" name="flir_gige" output="screen">
        <param name="ip_address" type="string" value="$(arg ip_address)"/>
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="height" type="int" value="$(arg height)"/>
        <param name="width" type="int" value="$(arg width)"/>
    </node>
</launch>
