<launch>
  <node name="player" pkg="rosbag" type="play" output="screen"
    args="--clock -r 1 $(find circle_tracker)/bags/laser.bag"/>

  <include file="$(find circle_tracker)/launch/circle_tracker.launch">
    <arg name="display_gui" value="false"/>
    <arg name="image_topic" value="/mono/mv_25000495/image_raw"/>
  </include>

  <node pkg="spec_calib" type="spec_calib" name="spec_calib" output="screen">
    <remap from="~image" to="/mono/mv_25000495/image_raw"/>
    <remap from="~camera_info" to="/mono/mv_25000495/camera_info"/>
    <remap from="~circles" to="/circle_tracker/circles"/>
  </node>
</launch>
