<launch>

  <arg name="camera_serial" default="25001110"/>
  <arg name="camera_color" default="false"/>
  <arg name="camera_exposure" default="8000"/>
  <arg name="filter_path"/>

  <!-- monocular camera -->
  <include file="$(find bluefox2)/launch/mono.launch">
    <arg name="width" value="1280"/>
    <arg name="height" value="960"/>
    <arg name="serial" value="$(arg camera_serial)"/>
    <arg name="color" value="$(arg camera_color)"/>
    <arg name="expose_us" value="$(arg camera_exposure)"/>
  </include>

  <!-- AprilTag detector -->
  <node name="apriltag" pkg="apriltag_ros" type="apriltag_ros_node" output="screen">
    <remap from="~image_raw" to="/cam_$(arg camera_serial)/image_raw"/>
    <param name="map_file" value="$(find galt_setup)/apriltags/calib_board.yaml"/>
  </node>

  <!-- Spectrometer -->
  <include file="$(find ocean_optics)/launch/driver.launch">
    <arg name="spec_node" value="spectrometer"/>
  </include>

  <!-- spec calib node -->
  <node pkg="spec_calib" type="spec_calib" name="spec_calib" output="screen">
    <remap from="~image" to="/cam_$(arg camera_serial)/image_raw"/>
    <remap from="~camera_info" to="/cam_$(arg camera_serial)/camera_info"/>
    <remap from="~circles" to="/circle_tracker/circles"/>
    <remap from="~pose_leds" to="/monocular_pose_estimator/estimated_pose"/>
    <remap from="~pixels" to="/monocular_pose_estimator/detected_led"/>
    <remap from="~pose_tags" to="/apriltag/pose_cam"/>
    <remap from="~spectrum" to="/spectrometer/spectrum"/>
    <param name="camera_serial" value="$(arg camera_serial)"/>
    <param name="camera_color" value="$(arg camera_color)"/>
    <param name="camera_exposure" value="$(arg camera_exposure)"/>
    <param name="filter_path" value="$(arg filter_path)"/>
  </node>
</launch>
