<!--
  Name: process_gps_imu.launch
  Triggers:
    * rosbag playback
    * imu_covariance
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf
    * stereo_vo
    * laser_filter
    * iris_tf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->

<launch>
    <!-- Bagfile launch options -->
    <arg name="bagfile_home" default="$(env GALT_BAGFILES)"/>
    <arg name="bagfile" default=""/>
    <arg name="bagfile_start" default="0"/>
    <arg name="bagfile_rate" default="1"/>
    <arg name="bagfile_path" default="$(arg bagfile_home)/$(arg bagfile).bag"/>
    <arg name="profile" default="steadicam"/>

    <include file="$(find galt_setup)/launch/process/process_gps_imu.launch">
        <arg name="bagfile_home" value="$(arg bagfile_home)"/>
        <arg name="bagfile" value="$(arg bagfile)"/>
        <arg name="bagfile_start" value="$(arg bagfile_start)"/>
        <arg name="bagfile_path" value="$(arg bagfile_path)"/>
        <arg name="bagfile_rate" value="$(arg bagfile_rate)"/>
        <arg name="profile" value="$(arg profile)"/>
    </include>

    <!-- Stereo VO -->
    <include file="$(find stereo_vo)/launch/stereo_vo.launch">
        <arg name="stereo" value="mv_stereo"/>
        <arg name="cell_size" value="45"/>
    </include>

    <!-- Record to CSV -->
    <node name="graph_recorder" pkg="graph_recorder"
      type="graph_recorder"
      output="screen">
      <param name="output"
        type="string"
        value="$(arg bagfile_home)/csv/$(arg bagfile)"/>

        <!-- input topics that will be recorded -->
        <remap from="~gps_odom" to="/gps_kf/odometry"/>
        <remap from="~vo_pose" to="/mv_stereo/stereo_vo/pose"/>
        <remap from="~vo_features" to="/mv_stereo/stereo_vo/features"/>
    </node>

    <!-- Launch sam_estimator -->
    <!--<node name="sam_estimator" pkg="sam_estimator" type="sam_estimator"
      output="screen">
      <remap from="~left_info" to="/mv_stereo/left/camera_info"/>
      <remap from="~right_info" to="/mv_stereo/right/camera_info"/>
      <remap from="~features" to="/mv_stereo/stereo_vo/features"/>
      <remap from="~odometry_in" to="/gps_kf/odometry"/>
    </node>-->

</launch>
