<!--
  Name: process_gps_imu.launch
  Triggers:
    * process_base.launch
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->
<launch>
    <!-- Profile -->
    <arg name="platform" default="aerial"/>
    <arg name="version" default="v1"/>
    <arg name="profile" default="$(arg platform)/$(arg version)"/>
    <arg name="profile_path" default="$(find galt_setup)/profiles/$(arg profile)"/>
    <arg name="vicon" default="false"/>

    <!-- Bag -->
    <arg name="bag_home" default="$(env GALT_BAGFILES)"/>
    <arg name="bag" default=""/>
    <arg name="bag_start" default="0"/>
    <arg name="bag_rate" default="1"/>
    <arg name="bag_path" default="$(arg bag_home)/$(arg bag).bag"/>

    <!-- process_base.launch -->
    <include file="$(find galt_setup)/launch/process/process_base.launch">
        <arg name="platform"     value="$(arg platform)"/>
        <arg name="version"      value="$(arg version)"/>
        <arg name="profile"      value="$(arg profile)"/>
        <arg name="profile_path" value="$(arg profile_path)"/>
        <arg name="vicon"        value="$(arg vicon)"/>
        <arg name="bag_home"     value="$(arg bag_home)"/>
        <arg name="bag"          value="$(arg bag)"/>
        <arg name="bag_start"    value="$(arg bag_start)"/>
        <arg name="bag_rate"     value="$(arg bag_rate)"/>
        <arg name="bag_path"     value="$(arg bag_path)"/>
    </include>

    <!-- Magnetometer calibration to load -->
    <arg name="mag_calib"/>

    <!-- Altimeter -->
    <include file="$(find galt_setup)/launch/process/filter/laser_altimeter.launch">
        <arg name="imu" value="/attitude_eskf/filtered_imu"/>
    </include>

    <include file="$(find galt_setup)/launch/process/filter/pressure_altimeter.launch">
        <arg name="pressure" value="/imu/pressure_cov"/>
    </include>

    <!-- GPS odometer -->
    <include file="$(find galt_setup)/launch/process/gps/gps_odom.launch">
        <arg name="config" value="$(arg profile_path)/gps_odom.yml"/>
    </include>

    <!-- Attitude Filter -->
    <node pkg="kr_attitude_eskf" name="attitude_eskf" type="kr_attitude_eskf" output="screen">
        <param name="enable_magnetometer" type="bool" value="true"/>
        <!-- Magnetometer calibration parameters -->
        <rosparam file="$(find galt_setup)/calib/magnetometer/$(arg mag_calib).yml"/>
        <!-- IMU data w/ proper covariance parameters -->
        <remap from="~imu" to="/imu/imu_cov"/>
        <remap from="~magnetic_field" to="/imu/magnetic_field_cov"/>
    </node>

    <!-- GPS KF -->
    <node name="gps_kf" pkg="gps_kf" type="gps_kf" output="screen">
        <!-- filter inputs -->
        <remap from="~imu" to="/attitude_eskf/filtered_imu"/>
        <remap from="~gps_odom" to="/gps/odometry"/>

        <!-- Profile specific settings -->
        <rosparam file="$(find galt_setup)/profiles/$(arg profile)/gps_kf.yml"/>
    </node>

    <!-- img2pcl -->
    <include file="$(find img2pcl)/launch/node.launch">
        <arg name="camera" value="color"/>
    </include>
</launch>
