<!--
  Name: process_gps_imu.launch
  Triggers:
    * rosbag playback
    * imu_covariance
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf
    * iris_tf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->
<launch>
  <!-- Bagfile launch options -->
  <arg name="bagfile_home" default="$(env GALT_BAGFILES)"/>
  <arg name="bagfile" default=""/>
  <arg name="bagfile_start" default="0"/>
  <arg name="bagfile_rate" default="1"/>
  <arg name="bagfile_path" default="$(arg bagfile_home)/$(arg bagfile).bag"/>

  <!-- Rosbag -->
  <node name="playback" pkg="rosbag" type="play" output="log"
        args="--clock -s $(arg bagfile_start) -r $(arg bagfile_rate) $(arg bagfile_path)"/>

  <!-- Sensor profile to load -->
  <arg name="profile"/>

  <!-- Frame broadcaster -->
  <include file="$(find galt_setup)/profiles/$(arg profile)/tf.launch">
  </include>

  <!-- Laser Filter -->
  <include file="$(find galt_setup)/launch/process/laser_filter.launch">
    <arg name="filter" value="$(find galt_setup)/profiles/$(arg profile)/laser_filter.yml"/>
  </include>

  <!-- Laser Assembler -->
  <include file="$(find galt_setup)/launch/process/laser_assembler.launch">
    <arg name="max_scans" value="10000"/>
    <arg name="ns" value="assembler"/>
  </include>

  <!-- Pcl2Pcd -->
  <include  file="$(find pcl2pcd)/launch/node.launch">
    <arg name="assembler" value="assembler"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Magnetometer calibration to load -->
  <arg name="mag_calib" default="philadelphia_generic"/>

  <!-- IMU Covariance -->
  <node pkg="imu_covariance" name="imu_covariance" type="imu_covariance"
    output="screen">
    <!-- Load settings from our profile -->
    <param name="config_path"
      type="string"
      value="$(find galt_setup)/profiles/$(arg profile)/imu.yml"/>

    <!-- Inputs from recorded IMU -->
    <remap from="~imu_in" to="/imu/imu"/>
    <remap from="~magnetic_field_in" to="/imu/magnetic_field"/>
    <remap from="~pressure_in" to="/imu/pressure"/>
  </node>

  <!-- Attitude Filter -->
  <node pkg="kr_attitude_eskf" name="attitude_eskf" type="kr_attitude_eskf"
    output="screen">
    <param name="enable_magnetometer" type="bool" value="true"/>

    <!-- Magnetometer calibration parameters -->
    <rosparam
      file="$(find galt_setup)/calib/magnetometer/$(arg mag_calib).yml"/>

    <!-- IMU data w/ proper covariance parameters -->
    <remap from="~imu" to="/imu_covariance/imu"/>
    <remap from="~magnetic_field" to="/imu_covariance/magnetic_field"/>
  </node>

  <!-- Barometric altimeter -->
  <node name="pressure_altimeter" pkg="pressure_altimeter"
    type="pressure_altimeter" output="screen">
    <!-- name of the frame in the header of the output -->
    <param name="world_frame_id" type="string" value="world"/>
    <!-- input topic -->
    <remap from="~fluid_pressure" to="/imu_covariance/pressure"/>
  </node>

  <!-- GPS Odometer -->
  <node name="gps_odom" pkg="gps_odom" type="gps_odom" output="screen">
    <!-- IMU w/ attitude estimate -->
    <remap from="~imu" to="/attitude_eskf/filtered_imu"/>
    <!-- GPS inputs -->
    <remap from="~fix" to="/ublox_gps/fix"/>
    <remap from="~fix_velocity" to="/ublox_gps/fix_velocity"/>
    <!-- Altitude -->
    <remap from="~pressure_height" to="/pressure_altimeter/height"/>
    <!-- ID of world frame for GPS coordinates -->
    <param name="world_frame_id" type="string" value="world"/>
    <!-- Any other profile-specific parameters -->
    <rosparam
      file="$(find galt_setup)/profiles/$(arg profile)/gps_odom.yml"/>
  </node>

  <!-- GPS KF -->
  <node name="gps_kf" pkg="gps_kf" type="gps_kf" output="screen">
    <!-- filter inputs -->
    <remap from="~imu" to="/attitude_eskf/filtered_imu"/>
    <remap from="~gps_odom" to="/gps_odom/odometry"/>

    <!-- Profile specific settings -->
    <rosparam
      file="$(find galt_setup)/profiles/$(arg profile)/gps_kf.yml"/>
  </node>

  <!-- Thermal proc -->
  <include file="$(find flir_gige)/launch/thermal_proc.launch">
    <arg name="celcius_min" value="10"/>
    <arg name="celcius_max" value="27.5"/>
  </include>

  <!-- Img2pcl -->
  <include file="$(find img2pcl)/launch/node.launch">
    <arg name="camera" value="mv_29900189"/>
  </include>

  <!--<include file="$(find img2pcl)/launch/node.launch">-->
    <!--<arg name="image" value="image_proc"/>-->
    <!--<arg name="camera" value="flir_gige"/>-->
  <!--</include>-->

</launch>
