<launch>
    <!-- Profile -->
    <arg name="platform" default="steadicam"/>
    <arg name="version" default="v4"/>
    <arg name="profile" default="$(arg platform)/$(arg profile)"/>

    <!-- Bag -->
    <arg name="bag_home" default="$(env GALT_BAGFILES)"/>
    <arg name="bag" default=""/>
    <arg name="bag_start" default="0"/>
    <arg name="bag_rate" default="1"/>
    <arg name="bag_path" default="$(arg bag_home)/$(arg bag).bag"/>

    <!-- Rosbag -->
    <node name="playback" pkg="rosbag" type="play" output="log"
        args="--clock -s $(arg bag_start) -r $(arg bag_rate)
        $(arg bag_path)">
    </node>
    
    <!-- Frame broadcaster -->
    <include file="$(find galt_setup)/profiles/$(arg profile)/tf.launch">
    </include>
</launch>
