<!--
  Name: process_base.launch
  Triggers:
    * imu_covariance
    * iris_tf
    * laser pipeline

  Brief: Launch imu_covariance and TF broadcaster.
-->

<launch>
  <!-- Profile parameters -->
  <arg name="platform" default="steadicam"/>
  <arg name="version" default="v5"/>
  <arg name="profile" default="$(arg platform)/$(arg version)"/>
  <arg name="profile_path" default="$(find galt_setup)/profiles/$(arg profile)"/>
  <arg name="vicon" default="false"/>
  <arg name="use_laser" default="$(optenv GALT_USE_LASER true)"/>

  <!-- Frame broadcaster -->
  <include file="$(arg profile_path)/tf.launch">
    <arg name="vicon" value="$(arg vicon)"/>
  </include>

  <!-- Laser pipeline -->
  <include if="$(arg use_laser)"
    file="$(find galt_setup)/launch/process/laser/laser_pipeline.launch">
    <arg name="plugin" value="$(arg profile_path)/laser_filter.yml"/>
    <arg name="scan_filter" value="true"/>
    <arg name="cloud_filter" value="true"/>
  </include>

  <!-- IMU covariance -->
  <include file="$(find galt_setup)/launch/process/imu/imu_covariance.launch">
    <arg name="config" value="$(arg profile_path)/imu.yml"/>
  </include>
</launch>
