<!-- Name: process_gps_imu.launch
  Triggers:
    * process_base.launch
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->
<launch>
  <!-- Profile -->
  <arg name="platform" default="aerial"/>
  <arg name="version" default="v2"/>
  <arg name="profile" default="$(arg platform)/$(arg version)"/>
  <arg name="profile_path" default="$(find galt_setup)/profiles/$(arg profile)"/>
  <arg name="vicon" default="false"/>

  <!-- Magnetometer calibration to load -->
  <arg name="mag_calib" default="biglerville_oct_aerial"/>

  <!-- Bag -->
  <arg name="bag_home" default="$(optenv GALT_BAGFILES /home)"/>
  <arg name="bag" default=""/>
  <arg name="bag_start" default="0"/>
  <arg name="bag_rate" default="1"/>
  <arg name="bag_path" default="/media/chao/Seagate/data/biglerville/galt_aerial_v2_2015-02-07-14-59-17.bag"/>

  <include file="$(find galt_setup)/launch/process/play_bag.launch">
    <arg name="bag_home" value="$(arg bag_home)"/>
    <arg name="bag_start" value="$(arg bag_start)"/>
    <arg name="bag_rate" default="$(arg bag_rate)"/>
    <arg name="bag_path" default="$(arg bag_path)"/>
  </include>

  <!-- process_gps_imu -->
  <include file="$(find galt_setup)/launch/process/process_gps_imu.launch">
    <arg name="platform"     value="$(arg platform)"/>
    <arg name="version"      value="$(arg version)"/>
    <arg name="profile"      value="$(arg profile)"/>
    <arg name="profile_path" value="$(arg profile_path)"/>
    <arg name="vicon"        value="$(arg vicon)"/>
    <arg name="mag_calib"    value="$(arg mag_calib)"/>
  </include>
</launch>
