<launch>
    <!-- Arguments -->
    <arg name="test" default="true"/>
    <arg name="output" default="screen"/>
    <arg name="bagfile" default="/home/chao/Workspace/bag/mrsl_st20.bag"/>
    <arg name="view" default="false"/>
    <arg name="stereo" default="stereo"/>
    <!-- platform -->
    <arg name="platform" default="steadicam"/>
    <arg name="version" default="v4"/>
    <arg name="profile" default="profiles/$(arg platform)/$(arg version)"/>

    <param name="/use_sim_time" value="true"/>

    <!-- rosbag -->
    <node if="$(arg test)" pkg="rosbag" type="play" name="player"
        args="--clock -r 0.5 $(arg bagfile)" output="log">
    </node>

    <!-- transform -->
    <include file="$(find galt_setup)/profiles/steadicam/v4/tf.launch">
    </include>

    <!-- laser pipeline -->
    <include file="$(find galt_setup)/launch/process/laser/laser_pipeline.launch">
        <arg name="plugin" value="$(find galt_setup)/$(arg profile)/laser_filter.yml"/>
        <arg name="target_frame" value="laser"/>
        <arg name="fixed_frame" value="odom"/>
    </include>

    <!-- stereo_image_proc -->
    <node pkg="stereo_image_proc" type="stereo_image_proc"
        name="stereo_image_proc" ns="$(arg stereo)">
    </node>

    <!-- stereo_image_view -->
    <node if="$(arg view)" pkg="image_view" type="stereo_view"
        name="stereo_view" output="screen">
        <remap from="image" to="image_rect"/>
    </node>

    <!-- viso2_ros -->
    <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer"
        output="$(arg output)" ns="$(arg stereo)">
        <param name="max_features" type="int" value="3"/>
        <remap from="~odometry" to="odom"/>
    </node>

    <!-- viso_kf -->
    <include file="$(find viso_kf)/launch/node.launch">
    </include>

    <!-- pcl_assembler -->
    <include file="$(find pcl_assembler)/launch/node.launch">
        <arg name="fixed_frame" value="odom"/>
        <arg name="source" value="$(arg stereo)"/>
        <arg name="topic" value="points2"/>
    </include>
</launch>
