<launch>

    <arg name="manager" default="stereo_vo"/>
    <arg name="stereo_ns" default="/mv_stereo"/>
    <arg name="disparity" default="false"/>
    <arg name="rviz" default="false"/>

    <arg name="bagfile_home" value="$(env GALT_BAGFILES)"/>
    <!-- <arg name="bagfile" default="day1/noon/2014-07-24-20-29-15.bag"/> -->
    <arg name="bagfile" default="day2/fly/2014-07-25-18-14-12.bag"/>
    <arg name="bagfile_start" default="0"/>

    <arg name="shi_cell_size" default="50"/>
    <arg name="shi_max_corners" default="300"/>
    <arg name="shi_quality_level" default="0.0001"/>
    <arg name="shi_min_distance" default="22"/>

    <arg name="klt_max_level" default="3"/>
    <arg name="klt_win_size" default="13"/>

    <arg name="kf_dist_thresh" value="3"/>
    <arg name="kf_yaw_thresh" value="45"/>
    <arg name="kf_size" value="4"/>
    <arg name="kf_min_filled" value="0.7"/>

    <arg name="pnp_ransac_error" value="4.0"/>
    <arg name="pnp_ransac_inliers" value="0.6"/>

    <arg name="tri_max_eigenratio" value="100000"/>

    <node pkg="rosbag" type="play" name="player"
        args="-s $(arg bagfile_start) $(arg bagfile_home)/$(arg bagfile)">
    </node>

    <node pkg="stereo_image_proc" type="stereo_image_proc"
        name="stereo_image_proc" ns="$(arg stereo_ns)">
    </node>

    <node pkg="stereo_vo" type="stereo_vo_node" name="stereo_vo"
        output="screen" ns="$(arg stereo_ns)">
        <param name="shi_cell_size" value="$(arg shi_cell_size)"/>
        <param name="shi_max_corners" value="$(arg shi_max_corners)"/>
        <param name="shi_quality_level" value="$(arg shi_quality_level)"/>
        <param name="shi_min_distance" value="$(arg shi_min_distance)"/>

        <param name="klt_max_level" value="$(arg klt_max_level)"/>
        <param name="klt_win_size" value="$(arg klt_win_size)"/>

        <param name="kf_dist_thresh" value="$(arg kf_dist_thresh)"/>
        <param name="kf_yaw_thresh" value="$(arg kf_yaw_thresh)"/>
        <param name="kf_size" value="$(arg kf_size)"/>
        <param name="kf_min_filled" value="$(arg kf_min_filled)"/>

        <param name="pnp_ransac_error" value="$(arg pnp_ransac_error)"/>
        <param name="pnp_ransac_inliers" value="$(arg pnp_ransac_inliers)"/>

        <param name="tri_max_eigenratio" value="$(arg tri_max_eigenratio)"/>
    </node>

    <node if="$(arg disparity)"
        pkg="image_view" type="stereo_view" name="stereo_view"
        args="stereo:=$(arg stereo_ns) image:=image_rect">
    </node>

    <node if="$(arg rviz)"
      name="rviz_stereo" pkg="rviz" type="rviz"
      args="--display-config $(find stereo_vo)/rviz/config.rviz">
    </node>

</launch>
