<launch>
    <arg name="stereo" default="mv_stereo"/>
    <arg name="disparity" default="false"/>
    <arg name="rviz" default="false"/>

    <!--Node-->
    <include file="$(find stereo_vo)/launch/stereo_vo.launch">
      <arg name="stereo" value="$(arg stereo)"/>
    </include>

    <!--Rosbag-->
    <arg name="bagfile" default="/home/chao/Workspace/bag/mrsl/mrsl_stereo.bag"/>
    <node pkg="rosbag" type="play" name="player" args="$(arg bagfile)">
    </node>

    <!--Disparity-->
    <node if="$(arg disparity)"
        pkg="image_view" type="stereo_view" name="stereo_view"
        args="stereo:=$(arg stereo) image:=image_rect">
    </node>

    <!--Rviz-->
    <node if="$(arg rviz)"
      name="rviz_stereo" pkg="rviz" type="rviz"
      args="--display-config $(find stereo_vo)/rviz/config.rviz">
    </node>
</launch>
