<!--
  Name: deploy_base.launch
  Author: Gareth
  Triggers:
    * ublox
    * imu_3dm_gx4
    * kr_attitude_eskf (run mode, not calibrate)
    * bluefox2 (3 sensing, 2 stereo)

  Brief: Launch the base configuration of IRIS. This includes all devices
  which will be employed in all sensing modes.
-->
<launch>
    <!-- gps -->
    <include file="$(find galt_setup)/launch/drivers/ublox.launch"/>

    <!-- imu -->
    <include file="$(find galt_setup)/launch/drivers/imu_3dm_gx4.launch"/>

    <!-- laser -->
    <include file="$(find galt_setup)/launch/drivers/hokuyo_eth.launch"/>

    <!-- camera -->
    <include file="$(find galt_setup)/launch/drivers/bluefox2_sensing.launch"/>
    <include file="$(find galt_setup)/launch/drivers/bluefox2_stereo.launch"/>

    <!--thermal-->
    <include file="$(find galt_setup)/launch/drivers/flir_gige.launch"/>
</launch>
