<!--
  Name: deploy_all.launch
  Author: Gareth, Chao
  Triggers:
    * gps
    * imu
    * stereo
    * color
    * multi_spectral (optional)
    * laser (optional)
    * thermal (optional)

  Brief: Launch the base configuration of IRIS. This includes all devices
  which will be employed in all sensing modes.
-->
<launch>
  <arg name="spectral" default="$(optenv GALT_USE_SPECTRAL true)"/>
  <!-- estimation -->
  <include file="$(find galt_setup)/launch/deploy/deploy_estimation.launch"/>

  <!-- multi_spectral -->
  <include if="$(arg spectral)"
      file="$(find galt_setup)/launch/drivers/multi_spectral.launch"/>
</launch>
