<!--
  Name: deploy_base.launch
  Author: Gareth
  Triggers:
    * gps
    * imu
    * laser
    * stereo
    * color
    * multi_spectral
    * thermal

  Brief: Launch the base configuration of IRIS. This includes all devices
  which will be employed in all sensing modes.
-->
<launch>
    <!-- estimation -->
    <include file="$(find galt_setup)/launch/deploy/deploy_estimation.launch"/>

    <!-- multi_spectral -->
    <include file="$(find galt_setup)/launch/drivers/multi_spectral.launch"/>

    <!-- thermal -->
    <include file="$(find galt_setup)/launch/drivers/thermal.launch"/>
</launch>
