<!--
  Name: deploy_base.launch
  Author: Gareth
  Triggers:
    * gps
    * imu
    * laser
    * stereo
    * color

  Brief: Launch the base configuration of IRIS. This includes all devices
  which will be employed in all sensing modes.
-->
<launch>
   <arg name="vicon" default="false"/>
   
    <!-- gps -->
    <include file="$(find galt_setup)/launch/drivers/gps.launch"/>

    <!-- imu -->
    <include file="$(find galt_setup)/launch/drivers/imu.launch"/>

    <!-- laser -->
    <include file="$(find galt_setup)/launch/drivers/laser.launch"/>

    <!-- camera -->
    <include file="$(find galt_setup)/launch/drivers/stereo.launch"/>
    <include file="$(find galt_setup)/launch/drivers/color.launch"/>

    <!-- optional: vicon -->
    <group if="$(arg vicon)">
        <include file="$(find galt_setup)/launch/deploy/vicon.launch"/>
    </group>
</launch>
