<!--
  Name: deploy_estimation.launch
  Author: Gareth, Chao
  Triggers:
    * gps
    * imu
    * stereo
    * mono
    * laser (optional)

  Brief: Launch the base configuration of IRIS. This includes all devices
  which will be employed in all sensing modes.
-->

<launch>
  <!-- gps -->
  <include file="$(find galt_setup)/launch/drivers/gps.launch"/>

  <!-- imu -->
  <include file="$(find galt_setup)/launch/drivers/imu.launch"/>

  <!-- camera -->
  <include file="$(find galt_setup)/launch/drivers/color.launch"/>
</launch>
