<!-- Launch file to deploy and record IMU for calibration purposes -->
<launch>
  <!-- imu -->
  <include file="$(find galt_setup)/launch/drivers/imu.launch"/>

  <!-- record -->
  <include file="$(find galt_setup)/launch/record_estimation.launch">
    <arg name="name" value="imu_calib"/>
  </include>
</launch>
