<!-- Todo: make these parameters -->
<launch>
    <include file="$(find vicon)/launch/vicon.launch" output="log"/>
    <include file="$(find vicon_odom)/launch/ViconOdom.launch" output="log">
        <arg name="model" value="antares"/>
        <arg name="child_frame_id" value="base_link"/>
    </include>
</launch>
