<launch>
	<arg name="camera_name" value="mv_25001206"/>

	<arg name="vertical" default="False"/>
	<param name="vertical" value="$(arg vertical)"/>


	<group ns="$(arg camera_name)" >

		<node pkg="led" type="intensity_profiler.py" name="intensity_profiler" output="screen">
			<remap from="image" to="image_raw"/>
			<param name="vertical" value="$(arg vertical)"/>
		</node>

	</group>

</launch>
