<launch>

  <!-- Launch attitude_eskf and gps_odom:
    * creates /gps_odom/odometry
    * creates /gps_odom/corrected_imu
    * creates /post/attitude_eskf/filtered_imu
  -->
  <include file="$(find gps_odom)/launch/gps_odom.launch"/>

  <!-- Launch stereo visual odometry:
    * creates /mv_stereo/stereo_vo/pose
  -->
  <include file="$(find stereo_vo)/launch/stereo_vo.launch"/>

  <!-- Launch laser altimeter:
    * creates /laser_altimeter/height
  -->
  <include file="$(find laser_altimeter)/launch/laser_altimeter.launch">
    <arg name="imu_topic" value="/gps_odom/corrected_imu"/>
    <arg name="laser_scan_topic" value="/hokuyo/scan"/>
  </include>

  <!-- launch sam_estimator -->
  <node name="sam_estimator" pkg="sam_estimator" type="sam_estimator"
    output="screen">
    <remap from="~gps_odom" to="/gps_odom/odometry"/>
    <remap from="~imu" to="/gps_odom/corrected_imu"/>
    <remap from="~vo_pose" to="/mv_stereo/stereo_vo/pose"/>
    <remap from="~laser_height" to="/laser_altimeter/height"/>
  </node>
</launch>
