<launch>
    <arg name="output" default="screen"/>
    <arg name="imu" default="imu"/>
    <arg name="config"/>

    <!-- Node -->
    <node pkg="imu_covariance" name="imu_covariance" type="imu_covariance"
        output="$(arg output)" ns="$(arg imu)">
        <!-- Load settings from our profile -->
        <param name="config" type="string" value="$(arg config)"/>
    </node>
</launch>
