<!--
  Name: deploy_ground.launch
  Author: Gareth
  Triggers:
    * ublox
    * imu_3dm_gx4
    * bluefox2 (2 sensing, 1 color, 2 stereo)
    * urg_node
    * flir_gige??

  Brief: Launch the base configuration of IRIS ground platform.
-->
<launch>

  <!-- ublox -->
  <include file="$(find galt_setup)/launch/ublox.launch">
    <arg name="serial_id"
    value="usb-u-blox_AG_-_www.u-blox.com_u-blox_7_-_GPS_GNSS_Receiver-if00"/>
  </include>

  <!-- IMU -->
  <include file="$(find galt_setup)/launch/imu_3dm_gx4.launch">
    <arg name="serial_id"
    value="usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6234.21073-if00"/>
  </include>

  <!-- Stereo cameras -->
  <include file="$(find bluefox2)/launch/stereo_node.launch">
    <arg name="left" value="25000855"/>
    <arg name="right" value="25001110"/>
    <arg name="expose_us" value="200"/>
  </include>

  <!-- Multispectral sensing -->
  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="serial" value="30000334"/>
    <arg name="fps" value="5"/>
    <arg name="color" value="false"/>
    <arg name="expose_us" value="1000"/>
  </include>

  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="serial" value="30000337"/>
    <arg name="fps" value="5"/>
    <arg name="color" value="false"/>
    <arg name="expose_us" value="1000"/>
  </include>

  <!-- Color sensing -->
  <include file="$(find bluefox2)/launch/single_node.launch">
    <arg name="serial" value="29900189"/>
    <arg name="fps" value="5"/>
    <arg name="color" value="true"/>
    <arg name="expose_us" value="1000"/>
  </include>

  <!-- Hokuyo -->
  <include file="$(find galt_setup)/launch/hokuyo_eth.launch"/>

  <!-- -->

</launch>
