<launch>
    <arg name="record" default="false"/>

    <!-- Launch microstrain IMU -->
    <include file="$(find galt_setup)/launch/imu_3dm_gx4.launch"/>

    <!-- Lanch ublox gps -->
    <include file="$(find galt_setup)/launch/ublox.launch">
        <arg name="disp" value="screen"/>
    </include>

    <!--Launch stereo cameras-->
    <include file="$(find bluefox2)/launch/stereo_node.launch">
        <arg name="expose_us" value="40"/>
    </include>

    <!--Launch hokuyo lidar-->
    <include file="$(find galt_setup)/launch/hokuyo_eth.launch">
    </include>


    <!-- Launch rosbag (record only raw data) -->
    <node if="$(arg record)" pkg="rosbag" type="record" name="recorder" output="screen"
        args="
        /imu/imu
        /imu/magnetic_field
        /imu/pressure
        /ublox_gps/fix
        /ublox_gps/fix_velocity
        /ublox_gps/navposllh
        /ublox_gps/navstatus
        /ublox_gps/navvelned
        /mv_stereo/left/image_raw
        /mv_stereo/left/camera_info
        /mv_stereo/right/image_raw
        /mv_stereo/right/camera_info
        /hokuyo/scan
        "/>
</launch>
