<!--
  Name: hokyyo_eth.launch
  Triggers:
    * urg_node

  Brief: Launch the hokuyo LiDAR in ethernet configuration..

  Topics you should record:
    * /hokuyo/scan
-->
<launch>
  <group ns="hokuyo">
    <node name="urg_node" pkg="urg_node" type="urg_node" respawn="true"
        output="screen">
      <param name="ip_address" type="string" value="192.168.0.10"/>
    </node>
  </group>
</launch>
