<!--
  Name: kr_attitude_eskf_calib.launch
  Author: Gareth
  Triggers:
    * imu_3dm_gx4
    * kr_attitude_eskf

  Brief: Launches the attitude filter and microstrain IMU. This node is for
  calibration only and does not need to be recorded.
-->

<launch>
  <!-- Start IMU -->
  <include file="$(find galt_setup)/launch/imu_3dm_gx4.launch"/>

  <!-- Launch filter -->
  <include file="$(find galt_setup)/launch/kr_attitude_eskf.launch"/>
</launch>
