<!--
  Name: kr_attitude_eskf_preview.launch
  Author: Gareth
  Triggers:
    * rqt (acceleration plot)
    * rviz (attitude display)

  Brief: Launch two windows to help visualize kr_attitude_eskf.
-->
<launch>
  <!-- Open RQT -->
  <node name="rqt_eskf_preview" pkg="rqt_gui" type="rqt_gui"
    output="screen"
    args="--perspective-file $(find galt_setup)/visualization/attitude_calib.perspective"/>

  <!-- Open Rviz -->
  <node name="rviz_eksf_preview" pkg="rviz" type="rviz"
    output="screen"
    args="--display-config $(find galt_setup)/visualization/attitude_calib.rviz"/>
</launch>
