<launch>
    <include file="$(find bluefox2)/launch/stereo.launch"/>
    <include file="$(find bluefox2)/launch/trifocal.launch"/>
    <!--<include file="$(find imu_3dm_gx4)/launch/imu.launch"/>-->
    <include file="$(find galt_setup)/launch/hokuyo_eth.launch"/>
    <include file="$(find ublox_gps)/launch/test.launch"/>
</launch>
