<!--
  Name: process_gps_imu.launch
  Triggers:
    * rosbag playback
    * imu_covariance
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf
    * stereo_vo
    * laser_filter
    * iris_tf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->

<launch>
    <!-- Bagfile launch options -->
    <arg name="bagfile_home" default="$(env GALT_BAGFILES)"/>
    <arg name="bagfile" default=""/>
    <arg name="bagfile_start" default="0"/>
    <arg name="bagfile_path" default="$(arg bagfile_home)/$(arg bagfile).bag"/>
    <arg name="profile" default="steadicam"/>

    <include file="$(find galt_setup)/launch/process_gps_imu.launch">
        <arg name="bagfile_home" value="$(arg bagfile_home)"/>
        <arg name="bagfile" value="$(arg bagfile)"/>
        <arg name="bagfile_start" value="$(arg bagfile_start)"/>
        <arg name="bagfile_path" value="$(arg bagfile_path)"/>
        <arg name="profile" value="$(arg profile)"/>
    </include>

    <!-- Stereo VO -->
    <node pkg="stereo_image_proc" type="stereo_image_proc"
        name="stereo_image_proc" ns="/mv_stereo">
    </node>
    <node name="stereo_vo" pkg="stereo_vo" type="stereo_vo_node"
        output="screen" ns="/mv_stereo">
        <rosparam file="$(find galt_setup)/profiles/$(arg profile)/stereo_vo.yml"/>
    </node>

</launch>
