<!--
  Name: record_gps_imu_test.launch
  Author: Gareth
  Triggers:
    * imu_3dm_gx4
    * ublox_gps
    * rosbag

  Brief: Record bagfiles for testing GPS+IMU kalman filters.
-->
<launch>
  <!-- Launch microstrain IMU -->
  <include file="$(find galt_setup)/launch/imu_3dm_gx4.launch"/>

  <!-- Lanch ublox gps -->
  <include file="$(find galt_setup)/launch/ublox.launch">
    <arg name="disp" value="screen"/>
  </include>

  <!-- Launch rosbag (record only raw data) -->
  <node pkg="rosbag" type="record" name="recorder" output="screen"
        args="
        /imu/imu
        /imu/magnetic_field
        /imu/pressure
        /ublox_gps/fix
        /ublox_gps/fix_velocity
        /ublox_gps/navposllh
        /ublox_gps/navstatus
        /ublox_gps/navvelned"/>
</launch>
