<launch>
    <node pkg="rosbag" type="record" name="recorder" output="screen"
        args=" -O /home/chao/Workspace/test.bag
        /cam_30000313/image_raw /cam_30000313/camera_info
        /cam_29900189/image_raw /cam_29900189/camera_info
        /cam_29900130/image_raw /cam_29900130/camera_info
        /imu_3dm_gx4/imu /imu_3dm_gx4/magnetic_field /imu_3dm_gx4/pressure
        /ublox/navposllh /ublox/navstatus /ublox/navvelned
        /most_intense
        /spectrometer/spectrum">
    </node>

</launch>
