<launch>
    <node pkg="rosbag" type="record" name="recorder" output="screen"
        args="
        /stereo/mv_25000855/image_raw /stereo/mv_25000855/camera_info
        /stereo/mv_25001110/image_raw /stereo/mv_25001110/camera_info
        /trifocal/mv_29900130/image_raw /trifocal/mv_29900130/camera_info
        /trifocal/mv_29900189/image_raw /trifocal/mv_29900189/camera_info
        /trifocal/mv_30000313/image_raw /trifocal/mv_30000313/camera_info
        /ublox/navposllh /ublox/navstatus
        /imu_3dm_gx4/imu /imu_3dm_gx4/magnetic_field /imu_3dm_gx4/pressure
        /flir_gige/image_raw
        /scan"
        />
</launch>
