<launch>

    <!-- imu -->
    <include file="$(find imu_3dm_gx4)/launch/imu.launch" />
    <!-- camera -->
    <include file="$(find bluefox2)/launch/trifocal.launch" />
    <!-- gps -->
    <include file="$(find ublox_gps)/launch/test.launch" />
    <!-- hokuyo -->
    <include file="$(find hokuyo)/launch/hokuyo_ethernet_test.launch" />

</launch>
