<!-- Name: process_gps_imu.launch
  Triggers:
    * process_base.launch
    * kr_attitude_eskf
    * pressure_altimeter
    * gps_odom
    * gps_kf

  Brief: Launch the GPS + IMU components of the post-processing suite.
-->
<launch>
  <!-- Profile -->
  <arg name="platform" default="experimental"/>
  <arg name="version" default="v1"/>
  <arg name="profile" default="$(arg platform)/$(arg version)"/>
  <arg name="profile_path" default="$(find galt_setup)/profiles/$(arg profile)"/>
  <arg name="use_laser" default="$(optenv GALT_USE_LASER false)"/>

  <!-- Magnetometer calibration to load -->
  <arg name="mag_calib" default="pasco_ground"/>

  <!-- Bag -->
  <arg name="bag_home" default="$(optenv GALT_BAGFILES /home)"/>
  <arg name="bag" default=""/>
  <arg name="bag_start" default="0"/>
  <arg name="bag_rate" default="1"/>
  <arg name="bag_path"
    default="/home/chao/Workspace/bag/apple/galt_exp_v1_red_slow_flash_north.bag"/>

  <include file="$(find galt_setup)/launch/process/play_bag.launch">
    <arg name="bag_home" value="$(arg bag_home)"/>
    <arg name="bag_start" value="$(arg bag_start)"/>
    <arg name="bag_rate" value="$(arg bag_rate)"/>
    <arg name="bag_path" value="$(arg bag_path)"/>
  </include>

  <!-- process_gps_imu -->
  <include file="$(find galt_setup)/launch/process/process_gps_imu.launch">
    <arg name="platform"     value="$(arg platform)"/>
    <arg name="version"      value="$(arg version)"/>
    <arg name="profile"      value="$(arg profile)"/>
    <arg name="profile_path" value="$(arg profile_path)"/>
    <arg name="mag_calib"    value="$(arg mag_calib)"/>
    <arg name="use_laser"    value="$(arg use_laser)"/>
  </include>
</launch>
