<!--
  Name: process_point_clouds.launch
  Triggers:
    * a bunch of img2pcl stuff
    * some laser assemblers

  Brief: Launch the img2pcl projector and laser assemblers for
  processing.
-->
<launch>
  <!-- Img2pcl -->
  <include file="$(find img2pcl)/launch/node.launch">
    <arg name="camera" value="color"/>
  </include>

  <include file="$(find img2pcl)/launch/node.launch">
    <arg name="image" value="image_proc"/>
    <arg name="camera" value="thermal"/>
  </include>

  <include file="$(find img2pcl)/launch/node.launch">
    <arg name="image" value="image_raw"/>
    <arg name="camera" value="spectral_670"/>
  </include>

  <include file="$(find img2pcl)/launch/node.launch">
    <arg name="image" value="image_raw"/>
    <arg name="camera" value="spectral_800"/>
  </include>

  <!--Point cloud assembler-->
  <include file="$(find galt_setup)/launch/process/point_cloud_assembler.launch">
    <arg name="cloud" value="/spectral_670/cloud"/>
    <arg name="assembler" value="assembler_670"/>
  </include>

  <include file="$(find galt_setup)/launch/process/point_cloud_assembler.launch">
    <arg name="cloud" value="/spectral_800/cloud"/>
    <arg name="assembler" value="assembler_800"/>
  </include>
</launch>
