<launch>

  <arg name="camera_serial" default="25001110"/>
  <arg name="camera_color" default="false"/>
  <arg name="camera_exposure" default="5000"/>

  <!-- monocular camera -->
  <include file="$(find bluefox2)/launch/mono.launch">
    <arg name="serial" value="$(arg camera_serial)"/>
    <arg name="color" value="$(arg camera_color)"/>
    <arg name="expose_us" value="$(arg camera_exposure)"/>
    <arg name="width" value="1280"/>
    <arg name="height" value="960"/>
  </include>

  <!-- circle tracker -->
  <include file="$(find circle_tracker)/launch/circle_tracker.launch">
    <arg name="display_gui" value="false"/>
    <arg name="image_topic" value="/cam_$(arg camera_serial)/image_raw"/>
  </include>

  <!-- pose estimator -->
  <group ns="monocular_pose_estimator">
    <node name="monocular_pose_estimator" pkg="monocular_pose_estimator" respawn="false" type="monocular_pose_estimator" output="screen">
        <remap from="/camera/image_raw" to="/cam_$(arg camera_serial)/image_raw"/>
        <remap from="/camera/camera_info" to="/cam_$(arg camera_serial)/camera_info"/>
        <rosparam command="load" file="$(find monocular_pose_estimator)/marker_positions/calib_marker.yaml"/>
        <param name="threshold_value" value="140"/>
        <param name="gaussian_sigma" value="0.5"/>
        <param name="min_blob_area" value="15"/>
        <param name="max_blob_area" value="530"/>
        <param name="max_width_height_distortion" value="0.55"/>
        <param name="max_circular_distortion" value="0.55"/>
        <param name="back_projection_pixel_tolerance" value="10"/>
        <param name="nearest_neighbour_pixel_tolerance" value="10"/>
        <param name="certainty_threshold" value="0.70"/>
        <param name="valid_correspondence_threshold" value="0.7"/>
        <param name="roi_border_thickness" value="71"/>
    </node>
  </group>

  <!-- spec calib node -->
  <node pkg="spec_calib" type="spec_calib" name="spec_calib" output="screen">
    <param name="camera_serial" value="$(arg camera_serial)"/>
    <remap from="~image" to="/cam_$(arg camera_serial)/image_raw"/>
    <remap from="~camera_info" to="/cam_$(arg camera_serial)/camera_info"/>
    <remap from="~circles" to="/circle_tracker/circles"/>
    <remap from="~pose_leds" to="/monocular_pose_estimator/estimated_pose"/>
    <remap from="~pixels" to="/monocular_pose_estimator/detected_led"/>
    <param name="camera_serial" value="$(arg camera_serial)"/>
    <param name="camera_color" value="$(arg camera_color)"/>
    <param name="camera_exposure" value="$(arg camera_exposure)"/>
  </node>
</launch>
