<!--
  Name: color.launch
  Triggers:
    * flea3 (1x)

  Brief: Launch one Point-Grey flea3 usb3 camera.

  Topics you should record:
    * /color/camera_info
    * /color/image_raw
    * /color/image_metadata
-->

<launch>
  <!--Camera Settings-->
  <arg name="device" value="$(env GALT_COLOR_SERIAL)"/>
  <arg name="rate" default="8"/>

  <include file="$(find flea3)/launch/single_node.launch">
    <arg name="device" value="$(arg device)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="camera" value="$(env GALT_COLOR_FRAME)"/>
    <arg name="calib_url" value="$(env GALT_CAMERA_CALIB_DIR)/pg_$(arg device).yaml"/>
    <arg name="fps" value="$(arg rate)"/>

    <arg name="video_mode" value="23"/>
    <arg name="exposure" value="false"/>
    <arg name="auto_exposure" value="false"/>
    <arg name="auto_shutter" value="false"/>
    <arg name="shutter_ms" value="2"/>
    <arg name="auto_gain" value="false"/>
    <arg name="gain_db" value="6.0"/>
    <arg name="trigger_source" value="7"/>
    <arg name="strobe_control" value="2"/>
    <arg name="white_balance" value="true"/>
    <arg name="auto_white_balance" value="false"/>
  </include>
</launch>
