<launch>
    <arg name="tag" default="galt"/>
    <node pkg="rosbag" type="record" name="recorder" output="screen"
        args="-o $(arg tag)
        /imu/imu
        /imu/magnetic_field
        /imu/pressure
        /imu_padded/imu
        /imu_padded/magnetic_field
        /imu_padded/pressure
        /gps/fix
        /gps/fix_velocity
        /gps/navposllh
        /gps/navstatus
        /gps/navvelned
        "/>
</launch>
