<launch>
    <include file="$(find imu_3dm_gx4)/launch/imu.launch">
        <arg name="device" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6234.21073-if00"/>
        <arg name="imu_rate" value="200"/>
        <arg name="imu" value="imu1"/>
        <arg name="output" value="screen"/>
        <arg name="baudrate" value="921600"/>
        <arg name="enable_filter" value="false"/>
    </include>

    <include file="$(find imu_3dm_gx4)/launch/imu.launch">
        <arg name="device" value="/dev/serial/by-id/usb-Lord_Microstrain_Lord_Inertial_Sensor_0000__6234.38162-if00"/>
        <arg name="imu_rate" value="200"/>
        <arg name="imu" value="imu2"/>
        <arg name="output" value="screen"/>
        <arg name="baudrate" value="921600"/>
        <arg name="enable_filter" value="false"/>
    </include>
</launch>
